<footer>
    <div class="footer-container">
        <div class="footer-column footer-logo">
            <img src="assets/images/white_logo-JardinsEmma.png" alt="Germanetes Logo">
            <span class="copyright-symbol">&copy;</span>
        </div>
        <div class="footer-column footer-contact">
            <h3 data-i18n="footer.contact">Contact</h3>
            <div class="social-icons">
              <a href="https://www.instagram.com/germanetesjardinsdemma/" target="_blank" rel="noopener noreferrer" class="instagram-link">
                <img src="assets/icons/instagram.svg" alt="Instagram" width="24" height="24">
              </a>
              <a href="mailto:germanetesje@gmail.com" class="mail-link">
                <img src="assets/icons/mail.svg" alt="Email" width="24" height="24">
              </a>
            </div>
            <p>Carrer del Comte Borrell, 157<br>Eixample, 08015<br>Barcelona</p>
        </div>
    </div>
</footer>
